@using Microsoft.AspNet.Identity
@model Einvoice_Customer.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Einvoice_Customer.Language.Resource.ChangePassFirst;
}

@using (Html.BeginForm("SaveChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p class="text-primary">
        <br />
        <h4>
            <span class="glyphicon glyphicon-retweet"> </span>
            <b>
                @ViewBag.Title.ToUpper()<br/>
                <small>@Einvoice_Customer.Language.Resource.ChangePassText</small>
            </b>
        </h4>
    </p>
    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Einvoice_Customer.Language.Resource.ChangePass" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


